/*Colors*/

:root{
    --Black: #000000;
    --White: #ffffff;
    --Orange: #FF9100;
}

/*Fonts*/
h2{
color: #FFF;

text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h4{
    font-style: italic;
    font-weight:400;
}

/*Local Srollability - Overflow*/
body{
    overflow: visible;
}
/*Header*/
header {
    display: none;
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    color: white;
    z-index: 100;
    margin: 1rem;
}

/*MAIN*/
main{
    width: 100vw;
    height: 100%;
    margin: 0;
    background-color: rgba(91, 137, 137, 0);
background-image: url('../images/baggrunde/BaggrundFrontend.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


/*Section 1 - title*/
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    color: var(--White);
    font-size: 2rem;
    text-align: center;
}
.content{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

h1{
margin-bottom: -20px;
font-size: 5rem;
color: var(--White);
}

/*Section 2 - Cards*/
.cardContainer{
    height: 100%;
    width: 100%;
    display: block;
    justify-items: center;
    transform: scale(0.9);

}
/*Links*/
.cardContainer a:hover{
    transform: scale(1.05);
    transition: ease-in 0.2s;
}

/*Cards*/
.card1{
    display: flex;
    height: 156px;
    width: 156px;
    align-items: center;
    justify-content: center;
    border-radius: 15.678px;
    background: #000;
    box-shadow: 3.136px 2.508px 2.508px 0 rgba(0, 0, 0, 0.25);
    padding: 12px;
    margin-bottom: 3rem;
}
/*Rows - only row1 is visible!*/ 
.row1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;

}
.row2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    position: relative;
    left: 5rem;
}
.row3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    position: relative;
    left: 10rem;
}