/*Colors*/

:root{
    --Black: #000000;
    --White: #ffffff;
    --Orange: #FF9100;
}

/*Fonts*/
h2{
color: #FFF;

text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/*Header*/
header {
    display: none;
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    color: white;
    z-index: 100;
    margin: 1rem;
}

/*MAIN*/
main{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgba(91, 137, 137, 0);
    background-image: url(/images/baggrunde/Baggrund.svg);
    background-size:cover;
    background-position:fixed;
    background-repeat: no-repeat;
}


/*Section 1 - menu*/
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    color: var(--White);
    font-size: 2rem;
    text-align: center;
}
.circle{
    width: 722px;
    height: 722px;
    border-radius: 722px;
    background-color: black;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    margin-top: 2rem;
    z-index: 1000;
}

h2{
    font-size: 50px;
}

/*Links*/
.LinkHover:hover{
    transform: scale(1.05);
    transition: ease-in 0.2s;
    color: var(--Orange);
}